name: Build and Push

on:
  push:
    branches: [ main ]
    paths:
    - 'app/**'

  workflow_dispatch:

permissions:
  id-token: write  # For OIDC authentication, for requesting the JWT
  contents: read

jobs:
  build:
    name: Build and Push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        
      - name: Get short commit SHA
        id: commit
        run: echo "IMAGE_TAG=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
        
      - name: Debug OIDC Claims
        uses: github/actions-oidc-debugger@main
        with:
          audience: '${{ github.server_url }}/${{ github.repository_owner }}'

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          role-to-assume: ${{ vars.AWS_ROLE_ARN }}
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          aws-region: ${{ vars.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image and push to Amazon ECR
        working-directory: ./app
        env:
          ECR_REPOSITORY_URI: ${{ secrets.ECR_REPOSITORY_URI }}
        run: |
          docker build \
            -t ${ECR_REPOSITORY_URI}:${IMAGE_TAG} \
            .

          docker push ${ECR_REPOSITORY_URI}:${IMAGE_TAG}
